<?php

/*
 * @package     XT Twilio for Joomla
 *
 * @author      Extly, CB. <team@extly.com>
 * @copyright   Copyright (c)2007-2018 Extly, CB. All rights reserved.
 * @license     https://www.gnu.org/licenses/gpl-3.0.html GNU/GPL
 *
 * @see         https://www.extly.com
 */

namespace tests\library\XTTwilio;

// Library Initialization
defined('_JEXEC') or define('_JEXEC', 1);

define('TEST_ACCOUNT_SID', '..');
define('TEST_AUTH_TOKEN', '..');
define('TEST_TWILIO_PHONE_NUMBER', '.');
define('TEST_USER_PHONE_NUMBER', '...');
define('TEST_AGENT_PHONE_NUMBER', '...');

define('J_URI_ROOT', 'http://localhost:8080/');

require_once 'library/vendor/autoload.php';
